<%- include('../front/header.ejs') %>
    <!-- ======================================= -->
    <!--slider div start-->
    <div class="carousel slide" data-bs-ride="carousel" id="a">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#a" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#a" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#a" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#a" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#a" data-bs-slide-to="4"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="/assets/images/banner1.jpg" class="w-100 img-fluid d-block" height="400px" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/images/banner6.jpg" class="w-100 img-fluid d-block" height="400px" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/images/banner3.jpg" class="w-100 img-fluid d-block" height="400px" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/images/banner4.jpg" class="w-100 img-fluid d-block" height="400px" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/images/banner5.jpg" class="w-100 img-fluid d-block" height="400px" alt="...">
            </div>
        </div>
        <!--carousel-inner-->

        <button class="carousel-control-prev" type="button" data-bs-target="#a" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#a" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <!--slider div end-->
    <!-- ================================================================ -->

    <h1 class="course_heading my-5">COURSES</h1>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card">
                    <img class="card-img-top" height="200px" width="300px" src="/assets/images/card_image1.jpg"
                        alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title ">Bachelore of Technology</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn cors ">B.TECH</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top " height="200px" width="300px" src="/assets/images/card_image2.jpg"
                        alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title ">Bachelors's in Computer Application</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn cors ">BCA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top " height="200px" width="300px" src="/assets/images/card_image3.jpg"
                        alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title ">Masters in Computer Application</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn cors ">MCA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top " height="200px" width="300px" src="/assets/images/card_image4.jpg"
                        alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title ">Master of Business Administration</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn cors ">MBA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top " height="200px" width="300px" src="/assets/images/card_image5.jpg"
                        alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title ">Master of Technology</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn cors ">M.TECH</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top " height="200px" width="300px" src="/assets/images/card_image6.jpg"
                        alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title ">Bachelor of Science</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn cors ">BSC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../front/footer.ejs') %>